{
  "openapi": "3.0.0",
  "info": {
    "title": "Hifi API",
    "version": "2.0.0",
    "description": "API documentation for Hifi"
  },
  "servers": [
    {
      "url": "https://production.hifibridge.com",
      "description": "Production server"
    },
    {
      "url": "https://sandbox.hifibridge.com",
      "description": "Sandbox server"
    }
  ],
  "tags": [
    {
      "name": "Common",
      "description": "Common endpoints"
    },
    {
      "name": "User",
      "description": "User endpoints"
    },
    {
      "name": "Kyc",
      "description": "Kyc endpoints"
    },
    {
      "name": "Wallet",
      "description": "Wallet endpoints"
    },
    {
      "name": "Account",
      "description": "Account endpoints"
    },
    {
      "name": "Virtual Account",
      "description": "Virtual Account endpoints"
    },
    {
      "name": "Onramp",
      "description": "Onramp endpoints"
    },
    {
      "name": "Offramp",
      "description": "Offramp endpoints"
    },
    {
      "name": "Crypto Transfer",
      "description": "Crypto Transfer endpoints"
    },
    {
      "name": "Cross-Chain Bridge",
      "description": "Cross-Chain Bridge endpoints"
    },
    {
      "name": "Token Swap",
      "description": "Token Swap endpoints"
    },
    {
      "name": "Transfer Rules",
      "description": "Transfer approval rules and configuration"
    },
    {
      "name": "Transfer Approvals",
      "description": "Transfer approval workflow and admin actions"
    },
    {
      "name": "File",
      "description": "File endpoints"
    },
    {
      "name": "Reporting",
      "description": "Reporting and metrics endpoints"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "AccountIdPathParameter": {
        "name": "accountId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "ID of the account",
        "required": true
      },
      "CurrencyParameter": {
        "name": "currency",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usd",
            "brl",
            "mxn",
            "ars",
            "cop",
            "kes",
            "zmw",
            "mwk",
            "tzs",
            "xaf",
            "xof",
            "ngn",
            "ugx",
            "bwp",
            "ghs"
          ]
        },
        "description": "Please provide at least one of the following query params: currency, railType. Eg. Setting 'currency' to 'usd' without setting 'railType' and 'paymentRail' will return all usd accounts under any railType or paymentRail.",
        "required": false
      },
      "VALimitParameter": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "string",
          "minimum": 1,
          "maximum": 100
        },
        "description": "Number of micro deposit records return for the virtual account, default to 10 maximum to 100",
        "required": false
      },
      "VACreatedBeforeParameter": {
        "name": "createdBefore",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Return the micro deposit records that created before this eventId",
        "required": false
      },
      "VACreatedAfterParameter": {
        "name": "createdAfter",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Return the micro deposit records that created after this eventId",
        "required": false
      },
      "VASourceCurrencyParameter": {
        "name": "sourceCurrency",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usd"
          ]
        },
        "description": "Source currency",
        "required": false
      },
      "VADestinationCurrencyParameter": {
        "name": "destinationCurrency",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usdc",
            "usdt"
          ]
        },
        "description": "Destination currency",
        "required": false
      },
      "VADestinationChainParameter": {
        "name": "destinationChain",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "POLYGON"
          ]
        },
        "description": "Destination chain",
        "required": false
      },
      "AccountTypeOptionalParameter": {
        "name": "type",
        "in": "query",
        "schema": {
          "$ref": "#/components/schemas/AccountTypeEnum"
        },
        "description": "account type",
        "required": false
      },
      "VirtualAccountIdPathParameter": {
        "name": "accountId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "ID of the virtual account",
        "required": true
      },
      "AccountRailOptionalParameter": {
        "name": "rail",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "onramp",
            "offramp"
          ]
        },
        "description": "onramp or offramp",
        "required": false
      },
      "CurrencyAnyOptionalParameter": {
        "name": "currency",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "required": false
      },
      "RuleIdPathParameter": {
        "name": "ruleId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "ID of the settlement rule",
        "required": true
      },
      "SettlementRuleCreatedBeforeParameter": {
        "name": "createdBefore",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Return the settlement rules that created before this date",
        "required": false
      },
      "SettlementRuleCreatedAfterParameter": {
        "name": "createdAfter",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Return the settlement rules that created after this date",
        "required": false
      },
      "SettlementRuleChainParameter": {
        "name": "chain",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "BASE",
            "POLYGON",
            "ETHEREUM",
            "SOLANA"
          ]
        },
        "description": "Return the settlement rules that are created on this chain",
        "required": false
      },
      "SettlementRuleLimitParameter": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "string",
          "minimum": 1,
          "maximum": 100
        },
        "description": "Number of settlement rules to return, default to 10 maximum to 100",
        "required": false
      },
      "LimitParameter": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "string",
          "minimum": 1,
          "maximum": 100
        },
        "description": "default to 10, maximum to 100",
        "required": false
      },
      "CreatedBeforeParameter": {
        "name": "createdBefore",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date"
        },
        "description": "ISO format: YYYY-MM-DD",
        "required": false
      },
      "CreatedAfterParameter": {
        "name": "createdAfter",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date"
        },
        "description": "ISO format: YYYY-MM-DD",
        "required": false
      },
      "MCAccountRecipientTypeParameter": {
        "name": "type",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "type of recipient",
        "required": false
      },
      "MCAccountRecipientIdParameter": {
        "name": "recipientId",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "ID of the recipient",
        "required": false
      },
      "MCAccountRecipientStatusParameter": {
        "name": "status",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "NOT_INITIATED",
            "PENDING",
            "AVAILABLE",
            "DECLINED"
          ]
        },
        "description": "status of the recipient",
        "required": false
      },
      "MCAccountTransferSourceCurrencyParameter": {
        "name": "sourceCurrency",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "sourceCurrency of the transfer",
        "required": false
      },
      "MCAccountTransferDestinationCurrencyParameter": {
        "name": "destinationCurrency",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "destinationCurrency of the transfer",
        "required": false
      },
      "MCAccountTransferStatusParameter": {
        "name": "status",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "NOT_INITIATED",
            "PENDING",
            "PROCESSING",
            "SUCCESS",
            "FAIL"
          ]
        },
        "description": "status of the transfer",
        "required": false
      },
      "MCAccountRecipientIdPathParameter": {
        "name": "recipientId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "ID of the recipient",
        "required": true
      },
      "MCAccountTransferIdPathParameter": {
        "name": "transferId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "ID of the transfer",
        "required": true
      },
      "ForexSourceCurrencyParameter": {
        "name": "sourceCurrency",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "sourceCurrency of the currency exchange order",
        "required": false
      },
      "ForexDestinationCurrencyParameter": {
        "name": "destinationCurrency",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "destinationCurrency of the currency exchange order",
        "required": false
      },
      "ForexStatusParameter": {
        "name": "status",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "NOT_INITIATED",
            "PENDING",
            "AVAILABLE",
            "DECLINED",
            "SUSPENDED",
            "CLOSING",
            "CLOSED"
          ]
        },
        "description": "status of the currency exchange order",
        "required": false
      },
      "ForexOrderIdPathParameter": {
        "name": "orderId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "ID of the currency exchange order",
        "required": true
      },
      "RailsTypeOptionalParameter": {
        "name": "rails",
        "in": "query",
        "schema": {
          "$ref": "#/components/schemas/RailsEnum"
        },
        "description": "The type of rail.",
        "required": false
      },
      "RailsTypeParameter": {
        "name": "rails",
        "in": "query",
        "schema": {
          "$ref": "#/components/schemas/RailsEnum"
        },
        "required": true
      },
      "KycStatusOptionalParameter": {
        "name": "status",
        "in": "query",
        "schema": {
          "$ref": "#/components/schemas/KycStatusEnum"
        },
        "required": false
      },
      "KycStatusArrayOptionalParameter": {
        "name": "status",
        "in": "query",
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/KycStatusEnum"
          },
          "minItems": 1
        },
        "description": "The statuses of the KYC.",
        "required": false
      },
      "UboIdPathParameter": {
        "name": "uboId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "The ID of the Ultimate Beneficial Owner (UBO).",
        "required": true
      },
      "DocumentIdPathParameter": {
        "name": "documentId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "The ID of the document.",
        "required": true
      },
      "MCAccountIdParameter": {
        "name": "currencyAccountId",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "ID of the currency account",
        "required": false
      },
      "MCAccountCurrencyParameter": {
        "name": "currency",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "currency",
        "required": false
      },
      "MCAccountStatusParameter": {
        "name": "status",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "NOT_INITIATED",
            "PENDING",
            "AVAILABLE",
            "DECLINED",
            "SUSPENDED",
            "CLOSING",
            "CLOSED"
          ]
        },
        "description": "account application status",
        "required": false
      },
      "MCAccountBankLocationParameter": {
        "name": "bankLocation",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "The three-letter alpha-3 country code of the bank location",
        "required": false
      },
      "MCAccountDepositStatusParameter": {
        "name": "status",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "PENDING",
            "APPROVED",
            "CLOSED",
            "REJECTED",
            "CANCELED",
            "REFUNDED"
          ]
        },
        "description": "status of the deposit",
        "required": false
      },
      "MCAccountIdPathParameter": {
        "name": "currencyAccountId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "ID of the currency account",
        "required": true
      },
      "MCAccountDepositPathParameter": {
        "name": "depositId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "ID of the deposit",
        "required": true
      },
      "MCAccountStoreIdPathParameter": {
        "name": "storeId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "ID of the store",
        "required": true
      },
      "OfframpRecordIDPathParameter": {
        "name": "transferId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "Transfer record ID.",
        "required": true
      },
      "FromCryptoCurrencyParameter": {
        "name": "fromCurrency",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usdc"
          ]
        },
        "required": true
      },
      "ToFiatCurrencyParameter": {
        "name": "toCurrency",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usd",
            "brl",
            "mxn",
            "ugx",
            "ngn",
            "kes",
            "tzs",
            "mwk",
            "xaf",
            "bwp",
            "zar",
            "usd-hka",
            "usd-chn",
            "cny",
            "hkd",
            "sgd",
            "usd-sgp"
          ]
        },
        "required": true
      },
      "CryptoTransferRecordIDPathParameter": {
        "name": "transferId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "Transfer record ID.",
        "required": true
      },
      "BridgingRequestIDPathParameter": {
        "name": "transferId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "Transfer record ID.",
        "required": true
      },
      "BatchCryptoTransferRecordIDPathParameter": {
        "name": "transferId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "Transfer record ID.",
        "required": true
      },
      "SwapTransferIDPathParameter": {
        "name": "swapId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "Swap transfer record ID.",
        "required": true
      },
      "OnrampRecordIDPathParameter": {
        "name": "transferId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "Transfer record ID.",
        "required": true
      },
      "FromFiatCurrencyParameter": {
        "name": "fromCurrency",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usd",
            "ugx",
            "ngn",
            "bwp",
            "tzs",
            "mwk",
            "xaf",
            "kes"
          ]
        },
        "required": true
      },
      "ToCryptoCurrencyParameter": {
        "name": "toCurrency",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usdc"
          ]
        },
        "required": true
      },
      "FromCurrencyParameter": {
        "name": "fromCurrency",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usdc"
          ]
        },
        "required": true
      },
      "ToCurrencyParameter": {
        "name": "toCurrency",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usd",
            "eur",
            "brl",
            "mxn",
            "ars",
            "cop"
          ]
        },
        "required": true
      },
      "ToCurrencyConversionParameter": {
        "name": "toCurrency",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usd",
            "eur",
            "brl",
            "mxn",
            "ars",
            "cop",
            "ugx",
            "ngn",
            "kes",
            "xof",
            "rwf",
            "tzs",
            "zmw",
            "mwk",
            "xaf"
          ]
        },
        "required": true
      },
      "TransferRecordIDPathParameter": {
        "name": "transferId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "Transfer record ID.",
        "required": true
      },
      "UserIdOptionalParameter": {
        "name": "userId",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "The user ID.",
        "required": false
      },
      "UserTypeV2Parameter": {
        "name": "type",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "individual",
            "business"
          ]
        },
        "description": "If passed, you will get all users under the type.",
        "required": false
      },
      "UserFirstNameParameter": {
        "name": "firstName",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "If passed, you will get all users with the case-insensitive partial match of `firstName`.\n",
        "required": false
      },
      "UserLastNameParameter": {
        "name": "lastName",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "If passed, you will get all users with the case-insensitive partial match of `lastName`.\n",
        "required": false
      },
      "UserNameParameter": {
        "name": "userName",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "required": false
      },
      "UserBusinessNameParameter": {
        "name": "businessName",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "If passed, you will get all users with the case-insensitive partial match of `businessName`.\n",
        "required": false
      },
      "UserEmailParameter": {
        "name": "email",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "If passed, you will get all users with the case-insensitive partial match of `email`.\n",
        "required": false
      },
      "UserEmailV2Parameter": {
        "name": "userEmail",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "required": false
      },
      "ChainParameter": {
        "name": "chain",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "POLYGON",
            "ETHEREUM",
            "SOLANA",
            "BASE"
          ]
        },
        "description": "The blockchain network to retrieve the wallet balance from.",
        "required": true
      },
      "CryptoCurrencyParameter": {
        "name": "currency",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usdc",
            "usdt",
            "usdHifi"
          ]
        },
        "description": "The type of currency to check the balance for. Currently, only usdc is supported.",
        "required": true
      },
      "UserIdPathParameter": {
        "name": "userId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "ID of the user",
        "required": true
      },
      "SignedAgreementIdPathParameter": {
        "name": "signedAgreementId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "ID of the signed agreement",
        "required": true
      },
      "ExternalWalletIdPathParameter": {
        "name": "externalWalletId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "ID of the external wallet",
        "required": true
      },
      "DepositIdPathParameter": {
        "name": "depositId",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "ID of the deposit",
        "required": true
      },
      "WalletDepositStatusParameter": {
        "name": "status",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "CONFIRMED",
            "COMPLETED"
          ]
        },
        "description": "Status of the deposit, CONFIRMED indicates the deposit is found in the blockchain, COMPLETED indicates the deposit is completed and unlikely to be reverted.",
        "required": false
      },
      "MinAmountParameter": {
        "name": "minAmount",
        "in": "query",
        "schema": {
          "type": "number"
        },
        "description": "Minimum amount of the deposit, default is 0.01",
        "required": false
      }
    },
    "requestBodies": {
      "CreateAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/CreateAccount"
                },
                {
                  "$ref": "#/components/schemas/CreateUsAccount"
                },
                {
                  "$ref": "#/components/schemas/CreateBrazilAccount"
                },
                {
                  "$ref": "#/components/schemas/CreateBrazilGlobalNetworkAccountIndividual"
                },
                {
                  "$ref": "#/components/schemas/CreateBrazilGlobalNetworkAccountBusiness"
                },
                {
                  "$ref": "#/components/schemas/CreateColombiaAccount"
                },
                {
                  "$ref": "#/components/schemas/CreateArgentinaAccount"
                },
                {
                  "$ref": "#/components/schemas/CreateMexicoAccount"
                },
                {
                  "$ref": "#/components/schemas/CreateMexicoGlobalNetworkAccountIndividual"
                },
                {
                  "$ref": "#/components/schemas/CreateMexicoGlobalNetworkAccountBusiness"
                },
                {
                  "$ref": "#/components/schemas/CreateNigeriaGlobalNetworkAccountIndividual"
                },
                {
                  "$ref": "#/components/schemas/CreateNigeriaGlobalNetworkAccountBusiness"
                },
                {
                  "$ref": "#/components/schemas/CreateHongKongGlobalNetworkAccountIndividual"
                },
                {
                  "$ref": "#/components/schemas/CreateHongKongGlobalNetworkAccountBusiness"
                },
                {
                  "$ref": "#/components/schemas/CreateChinaGlobalNetworkAccountIndividual"
                },
                {
                  "$ref": "#/components/schemas/CreateChinaGlobalNetworkAccountBusiness"
                },
                {
                  "$ref": "#/components/schemas/CreateSingaporeGlobalNetworkAccountIndividual"
                },
                {
                  "$ref": "#/components/schemas/CreateSingaporeGlobalNetworkAccountBusiness"
                },
                {
                  "$ref": "#/components/schemas/CreateAfricaOnrampAccount"
                },
                {
                  "$ref": "#/components/schemas/CreateAfricaOfframpAccount"
                }
              ]
            }
          }
        }
      },
      "CreateVirtualAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateVirtualAccount"
            }
          }
        }
      },
      "UpdateVirtualAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UpdateVirtualAccount"
            }
          }
        }
      },
      "SimulateVirtualAccountDepositBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SimulateVirtualAccountDeposit"
            }
          }
        }
      },
      "CreateSettlementRuleBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateSettlementRule"
            }
          }
        }
      },
      "UpdateSettlementRuleBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UpdateSettlementRule"
            }
          }
        }
      },
      "CreateMCAccountRecipientBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateMCAccountRecipient"
            }
          }
        }
      },
      "UpdateMCAccountRecipientBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UpdateMCAccountRecipient"
            }
          }
        }
      },
      "CreateMCAccountTransferBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateMCAccountTransfer"
            }
          }
        }
      },
      "FileUploadBody": {
        "required": true,
        "content": {
          "multipart/form-data": {
            "schema": {
              "$ref": "#/components/schemas/FileUpload"
            }
          }
        }
      },
      "GetForexRateBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetForexRate"
            }
          }
        }
      },
      "CreateForexOrderBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateForexOrder"
            }
          }
        }
      },
      "KycUpdateBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/IndividualKycUpdate"
                },
                {
                  "$ref": "#/components/schemas/BusinessKycUpdate"
                }
              ]
            }
          }
        }
      },
      "RailsBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Rails"
            }
          }
        }
      },
      "KycLinkBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/KycLinkForUserCreation"
                },
                {
                  "$ref": "#/components/schemas/KycLinkForUnlockingRails"
                }
              ]
            }
          }
        }
      },
      "AddUboBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UboAdd"
            }
          }
        }
      },
      "UpdateUboBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UboUpdate"
            }
          }
        }
      },
      "AddDocumentBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/IndividualDocumentAdd"
                },
                {
                  "$ref": "#/components/schemas/BusinessDocumentAdd"
                }
              ]
            }
          }
        }
      },
      "UpdateDocumentBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/IndividualDocumentUpdate"
                },
                {
                  "$ref": "#/components/schemas/BusinessDocumentUpdate"
                }
              ]
            }
          }
        }
      },
      "CreateMCAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateMCAccount"
            }
          }
        }
      },
      "CreateMCAccountStoreBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateMCAccountStore"
            }
          }
        }
      },
      "AuthorizeMCAccountStoreBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AuthorizeMCAccountStore"
            }
          }
        }
      },
      "CreateOfframpBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/CreateOfframp"
                },
                {
                  "$ref": "#/components/schemas/CreateUsdOfframp"
                },
                {
                  "$ref": "#/components/schemas/CreateBrlOfframp"
                },
                {
                  "$ref": "#/components/schemas/CreateCopOfframp"
                },
                {
                  "$ref": "#/components/schemas/CreateMxnOfframp"
                },
                {
                  "$ref": "#/components/schemas/CreateArsOfframp"
                },
                {
                  "$ref": "#/components/schemas/CreateAfricaOfframp"
                },
                {
                  "$ref": "#/components/schemas/CreateBrazilGlobalNetworkOfframp"
                },
                {
                  "$ref": "#/components/schemas/CreateMexicoGlobalNetworkOfframp"
                },
                {
                  "$ref": "#/components/schemas/CreateNigeriaGlobalNetworkOfframp"
                },
                {
                  "$ref": "#/components/schemas/CreateHongKongGlobalNetworkOfframp"
                },
                {
                  "$ref": "#/components/schemas/CreateChinaGlobalNetworkOfframp"
                }
              ]
            }
          }
        }
      },
      "CreateCryptoTransferBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateCryptoTransfer"
            }
          }
        }
      },
      "CreateBridgingRequestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateBridgingRequest"
            }
          }
        }
      },
      "CreateBatchCryptoTransferBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateBatchCryptoTransfer"
            }
          }
        }
      },
      "CreateWalletSwapBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateWalletSwap"
            }
          }
        }
      },
      "CreateOnrampBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/CreateOnramp"
                },
                {
                  "$ref": "#/components/schemas/CreateUsdOnramp"
                },
                {
                  "$ref": "#/components/schemas/CreateBrlOnramp"
                },
                {
                  "$ref": "#/components/schemas/CreateMxnOnramp"
                },
                {
                  "$ref": "#/components/schemas/CreateAfricaOnramp"
                }
              ]
            }
          }
        }
      },
      "CreateMetricBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateMetricRequest"
            },
            "examples": {
              "CreateMetricRequestExample": {
                "$ref": "#/components/examples/CreateMetricRequestExample"
              },
              "CreateMetricRequestWithBreakdownsExample": {
                "$ref": "#/components/examples/CreateMetricRequestWithBreakdownsExample"
              }
            }
          }
        }
      },
      "UpdateMetricBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UpdateMetricRequest"
            },
            "examples": {
              "UpdateMetricRequestNameExample": {
                "$ref": "#/components/examples/UpdateMetricRequestNameExample"
              },
              "UpdateMetricRequestParamsExample": {
                "$ref": "#/components/examples/UpdateMetricRequestParamsExample"
              }
            }
          }
        }
      },
      "PreviewMetricBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PreviewMetricRequest"
            },
            "examples": {
              "PreviewMetricRequestGrossVolumeExample": {
                "$ref": "#/components/examples/PreviewMetricRequestGrossVolumeExample"
              },
              "PreviewMetricRequestGrossVolumeMonthlyExample": {
                "$ref": "#/components/examples/PreviewMetricRequestGrossVolumeMonthlyExample"
              },
              "PreviewMetricRequestTransfersWithBreakdownsExample": {
                "$ref": "#/components/examples/PreviewMetricRequestTransfersWithBreakdownsExample"
              }
            }
          }
        }
      },
      "CreateFiatTransferBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateFiatTransfer"
            }
          }
        }
      },
      "UserV2CreateBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/IndividualUserV2Create"
                },
                {
                  "$ref": "#/components/schemas/BusinessUserV2Create"
                }
              ]
            }
          }
        }
      },
      "UserV2UpdateBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/IndividualUserV2Update"
                },
                {
                  "$ref": "#/components/schemas/BusinessUserV2Update"
                }
              ]
            }
          }
        }
      },
      "ToSLinkBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ToSLink"
            }
          }
        }
      },
      "UserV2AddWalletsBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UserV2AddWallets"
            }
          }
        }
      },
      "AddExternalWalletsBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AddExternalWallets"
            }
          }
        }
      }
    },
    "responses": {
      "GetAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountObject"
                },
                {
                  "$ref": "#/components/schemas/UsAccountObject"
                }
              ]
            },
            "examples": {
              "AccountObjectUSExample": {
                "$ref": "#/components/examples/AccountObjectUSExample"
              }
            }
          }
        }
      },
      "GetAllAccountsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AllAccountObjects"
            },
            "examples": {
              "AccountObjectListUSExample": {
                "$ref": "#/components/examples/AccountObjectListUSExample"
              }
            }
          }
        }
      },
      "CreateAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateAccountObject"
            },
            "examples": {
              "AccountObjectCreationExample": {
                "$ref": "#/components/examples/AccountObjectCreationExample"
              }
            }
          }
        }
      },
      "DeleteAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeleteAccountObject"
            },
            "examples": {
              "AccountObjectDeletionExample": {
                "$ref": "#/components/examples/AccountObjectDeletionExample"
              }
            }
          }
        }
      },
      "CreateVirtualAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateVirtualAccountObject"
            },
            "examples": {
              "VirtualAccountObjectCreationExample": {
                "$ref": "#/components/examples/VirtualAccountObjectCreationExample"
              }
            }
          }
        }
      },
      "UpdateVirtualAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UpdateVirtualAccountObject"
            }
          }
        }
      },
      "GetVirtualAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/VirtualAccountObject"
            },
            "examples": {
              "VirtualAccountObjectExample": {
                "$ref": "#/components/examples/VirtualAccountObjectExample"
              }
            }
          }
        }
      },
      "GetAllVirtualAccountsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/VirtualAccountListObject"
            },
            "examples": {
              "VirtualAccountObjectListExample": {
                "$ref": "#/components/examples/VirtualAccountObjectListExample"
              }
            }
          }
        }
      },
      "DeactivateVirtualAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeactivateVirtualAccountObject"
            },
            "examples": {
              "VirtualAccountObjectDeactivateExample": {
                "$ref": "#/components/examples/VirtualAccountObjectDeactivateExample"
              }
            }
          }
        }
      },
      "ReactivateVirtualAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ReactivateVirtualAccountObject"
            },
            "examples": {
              "VirtualAccountObjectCreationExample": {
                "$ref": "#/components/examples/VirtualAccountObjectCreationExample"
              }
            }
          }
        }
      },
      "SimulateVirtualAccountDepositResponse": {
        "description": "Successfully triggered sandbox deposit",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SimulateVirtualAccountDeposit"
            },
            "examples": {
              "VirtualAccountDepositSimulationObjectExample": {
                "$ref": "#/components/examples/VirtualAccountDepositSimulationObjectExample"
              }
            }
          }
        }
      },
      "GetSettlementRuleResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SettlementRuleResponse"
            },
            "examples": {
              "SettlementRuleObjectExample": {
                "$ref": "#/components/examples/SettlementRuleObjectExample"
              }
            }
          }
        }
      },
      "CreateSettlementRuleResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SettlementRuleResponse"
            },
            "examples": {
              "SettlementRuleObjectExample": {
                "$ref": "#/components/examples/SettlementRuleObjectExample"
              }
            }
          }
        }
      },
      "GetAllSettlementRulesResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SettlementRuleListResponse"
            }
          }
        }
      },
      "UpdateSettlementRuleResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SettlementRuleResponse"
            },
            "examples": {
              "SettlementRuleObjectExample": {
                "$ref": "#/components/examples/SettlementRuleObjectExample"
              }
            }
          }
        }
      },
      "DeleteSettlementRuleResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeleteSettlementRuleResponse"
            }
          }
        }
      },
      "ApplySettlementRuleResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApplySettlementRuleResponse"
            }
          }
        }
      },
      "RemoveSettlementRuleResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RemoveSettlementRuleResponse"
            }
          }
        }
      },
      "UnauthorizedResponse": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Unauthorized"
            }
          }
        }
      },
      "NotFoundResponse": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "error"
                  ]
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "InternalServerErrorResponse": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerError"
            }
          }
        }
      },
      "PingResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Pong"
            }
          }
        }
      },
      "CreateMCAccountRecipientResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateMCAccountRecipientObject"
            }
          }
        }
      },
      "GetMCAccountRecipientResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetMCAccountRecipientObject"
            }
          }
        }
      },
      "GetAllMCAccountRecipientsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetMCAccountRecipientListObject"
            }
          }
        }
      },
      "CreateMCAccountTransferResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MCAccountTransferObject"
            }
          }
        }
      },
      "GetMCAccountTransferResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MCAccountTransferObject"
            }
          }
        }
      },
      "GetAllMCAccountTransfersResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MCAccountTransferListObject"
            }
          }
        }
      },
      "FileUploadResponse": {
        "description": "File uploaded successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FileUploadResult"
            }
          }
        }
      },
      "GetForexRateResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForexRateObject"
            }
          }
        }
      },
      "CreateForexOrderResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForexOrderObject"
            }
          }
        }
      },
      "GetAllForexOrdersResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForexOrderListObject"
            }
          }
        }
      },
      "GetForexOrderResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForexOrderObject"
            }
          }
        }
      },
      "KycObjectResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/KycIndividualObject"
                },
                {
                  "$ref": "#/components/schemas/KycBusinessObject"
                }
              ]
            },
            "examples": {
              "KycObjectIndividualExample": {
                "$ref": "#/components/examples/KycObjectIndividualExample"
              },
              "KycObjectBusinessExample": {
                "$ref": "#/components/examples/KycObjectBusinessExample"
              }
            }
          }
        }
      },
      "KycStatusSubmitResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/UsdRailKycSubmissionObject"
                },
                {
                  "$ref": "#/components/schemas/SouthAmericaRailKycSubmissionObject"
                },
                {
                  "$ref": "#/components/schemas/AfricaGeneralRailKycSubmissionObject"
                },
                {
                  "$ref": "#/components/schemas/AfricaNigeriaRailKycSubmissionObject"
                },
                {
                  "$ref": "#/components/schemas/GlobalNetworkRailKycSubmissionObject"
                }
              ]
            },
            "examples": {
              "KycSubmissionObjectUsdExample": {
                "$ref": "#/components/examples/KycSubmissionObjectUsdExample"
              },
              "KycSubmissionObjectSouthAmericaStandardExample": {
                "$ref": "#/components/examples/KycSubmissionObjectSouthAmericaStandardExample"
              },
              "KycSubmissionObjectAfricaGeneralExample": {
                "$ref": "#/components/examples/KycSubmissionObjectAfricaGeneralExample"
              },
              "KycSubmissionObjectAfricaNigeriaExample": {
                "$ref": "#/components/examples/KycSubmissionObjectAfricaNigeriaExample"
              },
              "KycSubmissionObjectGlobalNetworkExample": {
                "$ref": "#/components/examples/KycSubmissionObjectGlobalNetworkExample"
              }
            }
          }
        }
      },
      "KycStatusResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/UsdRailIndividualKycStatusObject"
                },
                {
                  "$ref": "#/components/schemas/UsdRailBusinessKycStatusObject"
                },
                {
                  "$ref": "#/components/schemas/SouthAmericaRailKycStatusObject"
                },
                {
                  "$ref": "#/components/schemas/AfricaGeneralRailKycStatusObject"
                },
                {
                  "$ref": "#/components/schemas/AfricaNigeriaRailKycStatusObject"
                },
                {
                  "$ref": "#/components/schemas/GlobalNetworkRailKycStatusObject"
                }
              ]
            },
            "examples": {
              "KycStatusObjectUSDInactiveExample": {
                "$ref": "#/components/examples/KycStatusObjectUSDInactiveExample"
              },
              "KycStatusObjectUSDPendingIndividualExample": {
                "$ref": "#/components/examples/KycStatusObjectUSDPendingIndividualExample"
              },
              "KycStatusObjectUSDIncompleteBusinessExample": {
                "$ref": "#/components/examples/KycStatusObjectUSDIncompleteBusinessExample"
              },
              "KycStatusObjectUSDActiveBusinessExample": {
                "$ref": "#/components/examples/KycStatusObjectUSDActiveBusinessExample"
              },
              "KycStatusObjectSouthAmericaPendingExample": {
                "$ref": "#/components/examples/KycStatusObjectSouthAmericaPendingExample"
              },
              "KycStatusObjectSouthAmericaActiveExample": {
                "$ref": "#/components/examples/KycStatusObjectSouthAmericaActiveExample"
              },
              "KycStatusObjectAfricaGeneralActiveExample": {
                "$ref": "#/components/examples/KycStatusObjectAfricaGeneralActiveExample"
              },
              "KycStatusObjectAfricaNigeriaActiveExample": {
                "$ref": "#/components/examples/KycStatusObjectAfricaNigeriaActiveExample"
              },
              "KycStatusObjectGlobalNetworkActiveExample": {
                "$ref": "#/components/examples/KycStatusObjectGlobalNetworkActiveExample"
              }
            }
          }
        }
      },
      "KycRequirementResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/USDRailBusinessKYCReqOptObject"
                },
                {
                  "$ref": "#/components/schemas/USDRailIndividualKYCReqOptObject"
                }
              ]
            },
            "examples": {
              "KycRequirementObjectBusinessUSDExample": {
                "$ref": "#/components/examples/KycRequirementObjectBusinessUSDExample"
              },
              "KycRequirementObjectIndividualUSDExample": {
                "$ref": "#/components/examples/KycRequirementObjectIndividualUSDExample"
              }
            }
          }
        }
      },
      "KycLinkResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/KycLinkObject"
            },
            "examples": {
              "KycLinkObjectExample": {
                "$ref": "#/components/examples/KycLinkObjectExample"
              }
            }
          }
        }
      },
      "AllKycStatusesResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AllKycStatusesObject"
            },
            "examples": {
              "BasicKycStatusObjectListExample": {
                "$ref": "#/components/examples/BasicKycStatusObjectListExample"
              }
            }
          }
        }
      },
      "UboObjectResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UboObject"
            },
            "examples": {
              "UboObjectExample": {
                "$ref": "#/components/examples/UboObjectExample"
              }
            }
          }
        }
      },
      "UboObjectAllRecordsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UboObjectList"
            },
            "examples": {
              "UboObjectListExample": {
                "$ref": "#/components/examples/UboObjectListExample"
              }
            }
          }
        }
      },
      "DocumentObjectResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DocumentObject"
            },
            "examples": {
              "DocumentObjectIndividualExample": {
                "$ref": "#/components/examples/DocumentObjectIndividualExample"
              },
              "DocumentObjectBusinessExample": {
                "$ref": "#/components/examples/DocumentObjectBusinessExample"
              },
              "DocumentObjectUboExample": {
                "$ref": "#/components/examples/DocumentObjectUboExample"
              }
            }
          }
        }
      },
      "DocumentObjectAllRecordsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DocumentObjectList"
            },
            "examples": {
              "DocumentObjectListExample": {
                "$ref": "#/components/examples/DocumentObjectListExample"
              }
            }
          }
        }
      },
      "CreateMCAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateMCAccountObject"
            }
          }
        }
      },
      "GetMCAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetMCAccountObject"
            }
          }
        }
      },
      "GetAllMCAccountsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetMCAccountListObject"
            }
          }
        }
      },
      "GetMCAccountDepositResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MCAccountDepositObject"
            }
          }
        }
      },
      "GetAllMCAccountDepositsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MCAccountDepositListObject"
            }
          }
        }
      },
      "GetMCAccountBalanceResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MCAccountBalanceObject"
            }
          }
        }
      },
      "CreateMCAccountStoreResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MCAccountStoreObject"
            }
          }
        }
      },
      "AuthorizeMCAccountStoreResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MCAccountStoreObject"
            }
          }
        }
      },
      "CryptoToFiatTransferResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OfframpObject"
            },
            "examples": {
              "OfframpObjectUsdOpenQuoteExample": {
                "$ref": "#/components/examples/OfframpObjectUsdOpenQuoteExample"
              }
            }
          }
        }
      },
      "CryptoToFiatAcceptQuoteResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OfframpAcceptedQuoteObject"
            },
            "examples": {
              "OfframpObjectUsdCryptoInitiatedExample": {
                "$ref": "#/components/examples/OfframpObjectUsdCryptoInitiatedExample"
              }
            }
          }
        }
      },
      "CryptoToFiatRecordResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OfframpRecordObject"
            },
            "examples": {
              "OfframpObjectUsdCompleteExample": {
                "$ref": "#/components/examples/OfframpObjectUsdCompleteExample"
              }
            }
          }
        }
      },
      "CryptoToFiatAllRecordsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OfframpAllRecordsObject"
            },
            "examples": {
              "OfframpObjectListExample": {
                "$ref": "#/components/examples/OfframpObjectListExample"
              }
            }
          }
        }
      },
      "CryptoToFiatConversionRateResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OfframpConversionRateObject"
            }
          }
        }
      },
      "CryptoToCryptoTransferResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToCryptoTransferObject"
            }
          }
        }
      },
      "CryptoToCryptoRecordResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToCryptoRecordObject"
            }
          }
        }
      },
      "CryptoToCryptoAllRecordsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToCryptoAllRecordsObject"
            }
          }
        }
      },
      "BridgeAssetTransferResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BridgeAssetTransferObject"
            }
          }
        }
      },
      "BridgeAssetRecordResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BridgeAssetTransferObject"
            }
          }
        }
      },
      "BridgeAssetAllRecordsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BridgeAssetTransferListObject"
            }
          }
        }
      },
      "BatchCryptoTransferResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BatchCryptoTransferObject"
            }
          }
        }
      },
      "BatchCryptoTransferAllRecordsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BatchCryptoTransferListObject"
            }
          }
        }
      },
      "WalletSwapResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WalletSwapObject"
            }
          }
        }
      },
      "WalletSwapAllRecordsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WalletSwapAllRecordsObject"
            }
          }
        }
      },
      "FiatToCryptoTransferResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OnrampObject"
            },
            "examples": {
              "OnrampObjectUsdOpenQuoteExample": {
                "$ref": "#/components/examples/OnrampObjectUsdOpenQuoteExample"
              }
            }
          }
        }
      },
      "FiatToCryptoAcceptQuoteResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OnrampAcceptedQuoteObject"
            },
            "examples": {
              "OnrampObjectUsdAwaitingFundsExample": {
                "$ref": "#/components/examples/OnrampObjectUsdAwaitingFundsExample"
              }
            }
          }
        }
      },
      "FiatToCryptoRefreshQuoteResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OnrampQuoteObject"
            },
            "examples": {
              "OnrampObjectUsdOpenQuoteExample": {
                "$ref": "#/components/examples/OnrampObjectUsdOpenQuoteExample"
              }
            }
          }
        }
      },
      "FiatToCryptoRecordResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OnrampRecordObject"
            },
            "examples": {
              "OnrampObjectUsdFiatPendingExample": {
                "$ref": "#/components/examples/OnrampObjectUsdFiatPendingExample"
              }
            }
          }
        }
      },
      "FiatToCryptoAllRecordsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OnrampAllRecordsObject"
            },
            "examples": {
              "OnrampObjectListExample": {
                "$ref": "#/components/examples/OnrampObjectListExample"
              }
            }
          }
        }
      },
      "FiatToCryptoConversionRateResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FiatToCryptoConversionRateObject"
            }
          }
        }
      },
      "SimulateOnrampDepositResponse": {
        "description": "Successfully triggered sandbox deposit",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Sandbox deposit triggered"
                }
              }
            }
          }
        }
      },
      "TemplateListResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TemplateListResponse"
            },
            "examples": {
              "TemplateListExample": {
                "$ref": "#/components/examples/TemplateListExample"
              }
            }
          }
        }
      },
      "TemplateResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TemplateResponse"
            },
            "examples": {
              "TemplateExample": {
                "$ref": "#/components/examples/TemplateExample"
              }
            }
          }
        }
      },
      "ParamOptionsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ParamOptionsResponse"
            },
            "examples": {
              "ParamOptionsUserIdsExample": {
                "$ref": "#/components/examples/ParamOptionsUserIdsExample"
              },
              "ParamOptionsTransactionTypesExample": {
                "$ref": "#/components/examples/ParamOptionsTransactionTypesExample"
              }
            }
          }
        }
      },
      "MetricResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MetricResponse"
            },
            "examples": {
              "MetricResponseExample": {
                "$ref": "#/components/examples/MetricResponseExample"
              }
            }
          }
        }
      },
      "MetricListResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MetricListResponse"
            },
            "examples": {
              "MetricListExample": {
                "$ref": "#/components/examples/MetricListExample"
              }
            }
          }
        }
      },
      "CreateMetricResponse": {
        "description": "Metric created successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MetricResponse"
            },
            "examples": {
              "CreateMetricResponseExample": {
                "$ref": "#/components/examples/CreateMetricResponseExample"
              }
            }
          }
        }
      },
      "UpdateMetricResponse": {
        "description": "Metric updated successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MetricResponse"
            },
            "examples": {
              "UpdateMetricResponseExample": {
                "$ref": "#/components/examples/UpdateMetricResponseExample"
              }
            }
          }
        }
      },
      "DeleteMetricResponse": {
        "description": "Metric deleted successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MetricResponse"
            },
            "examples": {
              "DeleteMetricResponseExample": {
                "$ref": "#/components/examples/DeleteMetricResponseExample"
              }
            }
          }
        }
      },
      "MetricCalculationResponse": {
        "description": "Metric calculation results",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MetricCalculationResponse"
            },
            "examples": {
              "PreviewMetricResponseGrossVolumeNoBreakdownsExample": {
                "$ref": "#/components/examples/PreviewMetricResponseGrossVolumeNoBreakdownsExample"
              },
              "PreviewMetricResponseGrossVolumeMonthlyExample": {
                "$ref": "#/components/examples/PreviewMetricResponseGrossVolumeMonthlyExample"
              },
              "PreviewMetricResponseTransfersWithBreakdownsExample": {
                "$ref": "#/components/examples/PreviewMetricResponseTransfersWithBreakdownsExample"
              },
              "MetricResultsNewUsersExample": {
                "$ref": "#/components/examples/MetricResultsNewUsersExample"
              },
              "MetricResultsGrossVolumeExample": {
                "$ref": "#/components/examples/MetricResultsGrossVolumeExample"
              }
            }
          }
        }
      },
      "BadRequestResponse": {
        "description": "Bad request - validation error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "error"
                  ]
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "description": "Field-specific validation errors"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "FiatToFiatRecordResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FiatToFiatRecordObject"
            }
          }
        }
      },
      "ToSLinkObjectResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ToSLinkObject"
            },
            "examples": {
              "ToSLinkObjectExample": {
                "$ref": "#/components/examples/ToSLinkObjectExample"
              }
            }
          }
        }
      },
      "ToSLinkRecordStatusResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ToSLinkRecordStatusObject"
            },
            "examples": {
              "TosLinkStatusObjectExample": {
                "$ref": "#/components/examples/TosLinkStatusObjectExample"
              }
            }
          }
        }
      },
      "WalletBalanceResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WalletBalanceObject"
            },
            "examples": {
              "WalletBalanceObjectExample": {
                "$ref": "#/components/examples/WalletBalanceObjectExample"
              }
            }
          }
        }
      },
      "UserV2ObjectResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/IndividualUserV2Object"
                },
                {
                  "$ref": "#/components/schemas/BusinessUserV2Object"
                }
              ]
            },
            "examples": {
              "UserObjectIndividualExample": {
                "$ref": "#/components/examples/UserObjectIndividualExample"
              },
              "UserObjectBusinessExample": {
                "$ref": "#/components/examples/UserObjectBusinessExample"
              }
            }
          }
        }
      },
      "AllUserV2ObjectsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AllUserV2Objects"
            },
            "examples": {
              "UserObjectListExample": {
                "$ref": "#/components/examples/UserObjectListExample"
              }
            }
          }
        }
      },
      "ExternalWalletsObjectResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ExternalWalletsObject"
            },
            "examples": {
              "ExternalWalletObjectListExample": {
                "$ref": "#/components/examples/ExternalWalletObjectListExample"
              }
            }
          }
        }
      },
      "ExternalWalletObjectResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ExternalWalletObject"
            },
            "examples": {
              "ExternalWalletObjectExample": {
                "$ref": "#/components/examples/ExternalWalletObjectExample"
              }
            }
          }
        }
      },
      "WalletDepositObjectResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WalletDepositObject"
            },
            "examples": {
              "WalletDepositObjectExample": {
                "$ref": "#/components/examples/WalletDepositObjectExample"
              }
            }
          }
        }
      },
      "WalletDepositsObjectResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WalletDepositsObject"
            },
            "examples": {
              "WalletDepositObjectListExample": {
                "$ref": "#/components/examples/WalletDepositObjectListExample"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "AccountTypeEnum": {
        "type": "string",
        "description": "The type of account.",
        "enum": [
          "us",
          "brazil",
          "colombia",
          "argentina",
          "mexico",
          "africa",
          "brazilGlobalNetwork",
          "nigeriaGlobalNetwork",
          "mexicoGlobalNetwork",
          "hongKongGlobalNetwork",
          "chinaGlobalNetwork",
          "singaporeGlobalNetwork"
        ]
      },
      "CreateAccount": {
        "type": "object",
        "title": "Account",
        "properties": {
          "rail": {
            "type": "string",
            "enum": [
              "onramp",
              "offramp"
            ]
          },
          "type": {
            "$ref": "#/components/schemas/AccountTypeEnum"
          },
          "accountHolder": {
            "type": "object",
            "description": "account holder information.",
            "$ref": "#/components/schemas/AccountHolder"
          },
          "us": {
            "type": "object",
            "description": "US account.",
            "$ref": "#/components/schemas/UsAccount"
          },
          "brazil": {
            "type": "object",
            "description": "Brazil account.",
            "$ref": "#/components/schemas/BrazilAccount"
          },
          "colombia": {
            "type": "object",
            "description": "Colombia account.",
            "$ref": "#/components/schemas/ColombiaAccount"
          },
          "argentina": {
            "type": "object",
            "description": "Argentina account.",
            "$ref": "#/components/schemas/ArgentinaAccount"
          },
          "mexico": {
            "type": "object",
            "description": "Mexico account.",
            "$ref": "#/components/schemas/MexicoAccount"
          },
          "africa": {
            "type": "object",
            "description": "Africa account.",
            "$ref": "#/components/schemas/AfricaAccount"
          },
          "brazilGlobalNetwork": {
            "type": "object",
            "description": "Brazil Global Network account.",
            "$ref": "#/components/schemas/BrazilGlobalNetworkAccount"
          },
          "nigeriaGlobalNetwork": {
            "type": "object",
            "description": "Nigeria Global Network account.",
            "$ref": "#/components/schemas/NigeriaGlobalNetworkAccount"
          },
          "mexicoGlobalNetwork": {
            "type": "object",
            "description": "Mexico Global Network account.",
            "$ref": "#/components/schemas/MexicoGlobalNetworkAccount"
          },
          "hongKongGlobalNetwork": {
            "type": "object",
            "description": "Hong Kong Global Network account.",
            "$ref": "#/components/schemas/HongKongGlobalNetworkAccount"
          },
          "singaporeGlobalNetwork": {
            "type": "object",
            "description": "Singapore Global Network account.",
            "$ref": "#/components/schemas/SingaporeGlobalNetworkAccount"
          }
        },
        "required": [
          "rail",
          "type"
        ]
      },
      "CreateUsAccount": {
        "type": "object",
        "title": "US Offramp Account",
        "properties": {
          "rail": {
            "type": "string",
            "enum": [
              "offramp"
            ]
          },
          "type": {
            "type": "string",
            "description": "The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n",
            "enum": [
              "us"
            ]
          },
          "accountHolder": {
            "type": "object",
            "description": "account holder information.",
            "$ref": "#/components/schemas/UsAccountHolder"
          },
          "us": {
            "type": "object",
            "description": "US account.",
            "$ref": "#/components/schemas/UsAccount"
          }
        },
        "required": [
          "rail",
          "type",
          "accountHolder",
          "us"
        ]
      },
      "CreateBrazilAccount": {
        "type": "object",
        "title": "Brazil Offramp Account",
        "properties": {
          "rail": {
            "type": "string",
            "enum": [
              "offramp"
            ]
          },
          "type": {
            "type": "string",
            "description": "The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n",
            "enum": [
              "brazil"
            ]
          },
          "brazil": {
            "type": "object",
            "description": "Brazil account.",
            "$ref": "#/components/schemas/BrazilAccount"
          }
        },
        "required": [
          "rail",
          "type",
          "brazil"
        ]
      },
      "CreateBrazilGlobalNetworkAccountIndividual": {
        "type": "object",
        "title": "Brazil Global Network Individual Account",
        "properties": {
          "rail": {
            "type": "string",
            "enum": [
              "offramp"
            ]
          },
          "type": {
            "type": "string",
            "description": "The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n",
            "enum": [
              "brazilGlobalNetwork"
            ]
          },
          "accountHolder": {
            "type": "object",
            "description": "account holder information.",
            "$ref": "#/components/schemas/GlobalNetworkIndividualAccountHolder"
          },
          "brazilGlobalNetwork": {
            "type": "object",
            "description": "Brazil Global Network account.",
            "$ref": "#/components/schemas/BrazilGlobalNetworkAccount"
          }
        },
        "required": [
          "rail",
          "type",
          "accountHolder",
          "brazilGlobalNetwork"
        ]
      },
      "CreateBrazilGlobalNetworkAccountBusiness": {
        "type": "object",
        "title": "Brazil Global Network Business Account",
        "properties": {
          "rail": {
            "type": "string",
            "enum": [
              "offramp"
            ]
          },
          "type": {
            "type": "string",
            "description": "The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n",
            "enum": [
              "brazilGlobalNetwork"
            ]
          },
          "accountHolder": {
            "type": "object",
            "description": "account holder information.",
            "$ref": "#/components/schemas/GlobalNetworkIndividualAccountHolder"
          },
          "brazilGlobalNetwork": {
            "type": "object",
            "description": "Brazil Global Network account.",
            "$ref": "#/components/schemas/BrazilGlobalNetworkAccount"
          }
        },
        "required": [
          "rail",
          "type",
          "accountHolder",
          "brazilGlobalNetwork"
        ]
      },
      "BrazilGlobalNetworkAccount": {
        "type": "object",
        "title": "Brazil Global Network Account",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Provide when idNumber does not serve as offramp destination identifier\nAt most one of the following fields can be provided: pix, email, phone.\n"
          },
          "phone": {
            "type": "string",
            "description": "Provide when idNumber does not serve as offramp destination identifier\nAt most one of the following fields can be provided: pix, email, phone.\n"
          },
          "pix": {
            "type": "string",
            "description": "Provide when idNumber does not serve as offramp destination identifier\nAt most one of the following fields can be provided: pix, email, phone.\n"
          },
          "currency": {
            "type": "string",
            "enum": [
              "brl"
            ],
            "description": "The currency for the account"
          }
        },
        "required": [
          "currency"
        ]
      },
      "CreateNigeriaGlobalNetworkAccountIndividual": {
        "type": "object",
        "title": "Nigeria Global Network Individual Account",
        "properties": {
          "rail": {
            "type": "string",
            "enum": [
              "offramp"
            ]
          },
          "type": {
            "type": "string",
            "description": "The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n",
            "enum": [
              "nigeriaGlobalNetwork"
            ]
          },
          "accountHolder": {
            "type": "object",
            "description": "account holder information.",
            "$ref": "#/components/schemas/GlobalNetworkIndividualAccountHolder"
          },
          "nigeriaGlobalNetwork": {
            "type": "object",
            "description": "Nigeria Global Network account.",
            "$ref": "#/components/schemas/NigeriaGlobalNetworkAccount"
          }
        },
        "required": [
          "rail",
          "type",
          "accountHolder",
          "nigeriaGlobalNetwork"
        ]
      },
      "CreateNigeriaGlobalNetworkAccountBusiness": {
        "type": "object",
        "title": "Nigeria Global Network Business Account",
        "properties": {
          "rail": {
            "type": "string",
            "enum": [
              "offramp"
            ]
          },
          "type": {
            "type": "string",
            "description": "The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n",
            "enum": [
              "nigeriaGlobalNetwork"
            ]
          },
          "accountHolder": {
            "type": "object",
            "description": "account holder information.",
            "$ref": "#/components/schemas/GlobalNetworkBusinessAccountHolder"
          },
          "nigeriaGlobalNetwork": {
            "type": "object",
            "description": "Nigeria Global Network account.",
            "$ref": "#/components/schemas/NigeriaGlobalNetworkAccount"
          }
        },
        "required": [
          "rail",
          "type",
          "accountHolder",
          "nigeriaGlobalNetwork"
        ]
      },
      "CreateMexicoGlobalNetworkAccountIndividual": {
        "type": "object",
        "title": "Mexico Global Network Individual Account",
        "properties": {
          "rail": {
            "type": "string",
            "enum": [
              "offramp"
            ]
          },
          "type": {
            "type": "string",
            "description": "The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n",
            "enum": [
              "mexicoGlobalNetwork"
            ]
          },
          "accountHolder": {
            "type": "object",
            "description": "account holder information.",
            "$ref": "#/components/schemas/GlobalNetworkIndividualAccountHolder"
          },
          "mexicoGlobalNetwork": {
            "type": "object",
            "description": "Mexico Global Network account.",
            "$ref": "#/components/schemas/MexicoGlobalNetworkAccount"
          }
        },
        "required": [
          "rail",
          "type",
          "accountHolder",
          "mexicoGlobalNetwork"
        ]
      },
      "CreateMexicoGlobalNetworkAccountBusiness": {
        "type": "object",
        "title": "Mexico Global Network Business Account",
        "properties": {
          "rail": {
            "type": "string",
            "enum": [
              "offramp"
            ]
          },
          "type": {
            "type": "string",
            "description": "The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n",
            "enum": [
              "mexicoGlobalNetwork"
            ]
          },
          "accountHolder": {
            "type": "object",
            "description": "account holder information.",
            "$ref": "#/components/schemas/GlobalNetworkBusinessAccountHolder"
          },
          "mexicoGlobalNetwork": {
            "type": "object",
            "description": "Mexico Global Network account.",
            "$ref": "#/components/schemas/MexicoGlobalNetworkAccount"
          }
        },
        "required": [
          "rail",
          "type",
          "accountHolder",
          "mexicoGlobalNetwork"
        ]
      },
      "CreateHongKongGlobalNetworkAccountIndividual": {
        "type": "object",
        "title": "Hong Kong Global Network Individual Account",
        "properties": {
          "rail": {
            "type": "string",
            "enum": [
              "offramp"
            ]
          },
          "type": {
            "type": "string",
            "description": "The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n",
            "enum": [
              "hongKongGlobalNetwork"
            ]
          },
          "accountHolder": {
            "type": "object",
            "description": "account holder information.",
            "$ref": "#/components/schemas/GlobalNetworkIndividualAccountHolder"
          },
          "hongKongGlobalNetwork": {
            "type": "object",
            "description": "Hong Kong Global Network account.",
            "$ref": "#/components/schemas/HongKongGlobalNetworkAccount"
          }
        },
        "required": [
          "rail",
          "type",
          "accountHolder",
          "hongKongGlobalNetwork"
        ]
      },
      "CreateHongKongGlobalNetworkAccountBusiness": {
        "type": "object",
        "title": "Hong Kong Global Network Business Account",
        "properties": {
          "rail": {
            "type": "string",
            "enum": [
              "offramp"
            ]
          },
          "type": {
            "type": "string",
            "description": "The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n",
            "enum": [
              "hongKongGlobalNetwork"
            ]
          },
          "accountHolder": {
            "type": "object",
            "description": "account holder information.",
            "$ref": "#/components/schemas/GlobalNetworkBusinessAccountHolder"
          },
          "hongKongGlobalNetwork": {
            "type": "object",
            "description": "Hong Kong Global Network account.",
            "$ref": "#/components/schemas/HongKongGlobalNetworkAccount"
          }
        },
        "required": [
          "rail",
          "type",
          "accountHolder",
          "hongKongGlobalNetwork"
        ]
      },
      "HongKongGlobalNetworkAccount": {
        "type": "object",
        "title": "Hong Kong Global Network Account",
        "properties": {
          "bankName": {
            "type": "string",
            "description": "Bank name for the account"
          },
          "accountNumber": {
            "type": "string",
            "description": "Bank account number"
          },
          "swiftCode": {
            "type": "string",
            "description": "Bank code"
          },
          "currency": {
            "type": "string",
            "enum": [
              "hkd",
              "usd"
            ],
            "description": "The currency for the account"
          },
          "bankCode": {
            "type": "string",
            "description": "Bank code. Only required when transferType is chats or fps."
          },
          "transferType": {
            "type": "string",
            "enum": [
              "chats",
              "fps",
              "swift"
            ],
            "description": "Transfer type of the account. `swift` is the default transfer type if not provided."
          }
        },
        "required": [
          "currency",
          "bankName",
          "accountNumber",
          "swiftCode"
        ]
      },
      "CreateChinaGlobalNetworkAccountIndividual": {
        "type": "object",
        "title": "China Global Network Individual Account",
        "properties": {
          "rail": {
            "type": "string",
            "enum": [
              "offramp"
            ]
          },
          "type": {
            "type": "string",
            "description": "The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n",
            "enum": [
              "chinaGlobalNetwork"
            ]
          },
          "accountHolder": {
            "type": "object",
            "description": "account holder information.",
            "$ref": "#/components/schemas/GlobalNetworkIndividualAccountHolder"
          },
          "chinaGlobalNetwork": {
            "type": "object",
            "description": "China Global Network account.",
            "$ref": "#/components/schemas/ChinaGlobalNetworkAccount"
          }
        },
        "required": [
          "rail",
          "type",
          "accountHolder",
          "chinaGlobalNetwork"
        ]
      },
      "CreateChinaGlobalNetworkAccountBusiness": {
        "type": "object",
        "title": "China Global Network Business Account",
        "properties": {
          "rail": {
            "type": "string",
            "enum": [
              "offramp"
            ]
          },
          "type": {
            "type": "string",
            "description": "The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n",
            "enum": [
              "chinaGlobalNetwork"
            ]
          },
          "accountHolder": {
            "type": "object",
            "description": "account holder information.",
            "$ref": "#/components/schemas/GlobalNetworkBusinessAccountHolder"
          },
          "chinaGlobalNetwork": {
            "type": "object",
            "description": "China Global Network account.",
            "$ref": "#/components/schemas/ChinaGlobalNetworkAccount"
          }
        },
        "required": [
          "rail",
          "type",
          "accountHolder",
          "chinaGlobalNetwork"
        ]
      },
      "ChinaGlobalNetworkAccount": {
        "type": "object",
        "title": "China Global Network Account",
        "properties": {
          "bankName": {
            "type": "string",
            "description": "Bank name for the account"
          },
          "accountNumber": {
            "type": "string",
            "description": "Bank account number"
          },
          "swiftCode": {
            "type": "string",
            "description": "Bank code"
          },
          "currency": {
            "type": "string",
            "enum": [
              "usd",
              "cny"
            ],
            "description": "The currency for the account"
          }
        },
        "required": [
          "currency"
        ]
      },
      "CreateSingaporeGlobalNetworkAccountIndividual": {
        "type": "object",
        "title": "Singapore Global Network Individual Account",
        "properties": {
[...]
